In [16]:
import warnings
warnings.filterwarnings('ignore')

In [17]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [18]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

In [19]:
# Read the CSV and Perform Basic Data Cleaning
df1=pd.read_csv("STSI Combined .csv")
df2=pd.read_csv("Table 1 Combined.csv")
df1.head()

,Year,State,Total Fatalities,Alcohol-Impaired Driving Fatalities (BAC,Unnamed: 4,Unnamed: 5
0,2016,Alabama,1083,298,27,0.43
1,2017,Alabama,948,265,28,0.37
2,2018,Alabama,953,249,26,0.35
3,2019,Alabama,930,272,29,0.38
4,2020,Alabama,934,236,25,0.35

In [20]:
df2.head()

,Year,State,Fatalities,Total Vehicle Miles Traveled (Millions),Fatalities Per 100 Million Vehicle Miles Traveled,Total Population,"Fatalities Per 100,000 Population"
0,2020,Alabama,934,67921,1.38,4921532,18.98
1,2019,Alabama,930,71735,1.30,4907965,18.95
2,2018,Alabama,953,71167,1.34,4891628,19.48
3,2017,Alabama,948,70677,1.34,4877989,19.43
4,2016,Alabama,1083,69227,1.56,4866824,22.25

In [21]:
# create a dictionary of states.
clean_df=df2.merge(df1, on=["Year", "State"], how="left")

In [22]:
clean_df['Number Alcohol-Impaired Fatalities']=clean_df['Alcohol-Impaired Driving Fatalities (BAC'] 
clean_df['Percent Alcohol-Impaired Fatalities']=clean_df['Unnamed: 4'] 
clean_df['Alcohol-Impaired Fatalities Per 100 Mill VMT']=clean_df['Unnamed: 5']
clean_df.head()

,Year,State,Fatalities,Total Vehicle Miles Traveled (Millions),Fatalities Per 100 Million Vehicle Miles Traveled,Total Population,"Fatalities Per 100,000 Population",Total Fatalities,Alcohol-Impaired Driving Fatalities (BAC,Unnamed: 4,Unnamed: 5,Number Alcohol-Impaired Fatalities,Percent Alcohol-Impaired Fatalities,Alcohol-Impaired Fatalities Per 100 Mill VMT
0,2020,Alabama,934,67921,1.38,4921532,18.98,934,236,25,0.35,236,25,0.35
1,2019,Alabama,930,71735,1.30,4907965,18.95,930,272,29,0.38,272,29,0.38
2,2018,Alabama,953,71167,1.34,4891628,19.48,953,249,26,0.35,249,26,0.35
3,2017,Alabama,948,70677,1.34,4877989,19.43,948,265,28,0.37,265,28,0.37
4,2016,Alabama,1083,69227,1.56,4866824,22.25,1083,298,27,0.43,298,27,0.43

In [23]:
clean_df.columns

Index(['Year', 'State', 'Fatalities',
       'Total Vehicle Miles Traveled (Millions)',
       'Fatalities Per 100 Million Vehicle Miles Traveled', 'Total Population',
       'Fatalities Per 100,000 Population', 'Total Fatalities',
       'Alcohol-Impaired Driving Fatalities (BAC', 'Unnamed: 4', 'Unnamed: 5',
       'Number Alcohol-Impaired Fatalities',
       'Percent Alcohol-Impaired Fatalities',
       'Alcohol-Impaired Fatalities Per 100 Mill VMT'],
      dtype='object')

In [24]:
car_fatality_df=clean_df[["Year", "State", "Total Population","Total Fatalities", "Fatalities Per 100,000 Population", "Total Vehicle Miles Traveled (Millions)", "Fatalities Per 100 Million Vehicle Miles Traveled", "Number Alcohol-Impaired Fatalities", "Percent Alcohol-Impaired Fatalities", "Alcohol-Impaired Fatalities Per 100 Mill VMT"]]
car_fatality_df.head()

,Year,State,Total Population,Total Fatalities,"Fatalities Per 100,000 Population",Total Vehicle Miles Traveled (Millions),Fatalities Per 100 Million Vehicle Miles Traveled,Number Alcohol-Impaired Fatalities,Percent Alcohol-Impaired Fatalities,Alcohol-Impaired Fatalities Per 100 Mill VMT
0,2020,Alabama,4921532,934,18.98,67921,1.38,236,25,0.35
1,2019,Alabama,4907965,930,18.95,71735,1.30,272,29,0.38
2,2018,Alabama,4891628,953,19.48,71167,1.34,249,26,0.35
3,2017,Alabama,4877989,948,19.43,70677,1.34,265,28,0.37
4,2016,Alabama,4866824,1083,22.25,69227,1.56,298,27,0.43

In [25]:
car_fatality_df.shape

(250, 10)

In [26]:
car_fatality_df.isnull().count()

Year                                                 250
State                                                250
Total Population                                     250
Total Fatalities                                     250
Fatalities Per 100,000 Population                    250
Total Vehicle Miles Traveled (Millions)              250
Fatalities Per 100 Million Vehicle Miles Traveled    250
Number Alcohol-Impaired Fatalities                   250
Percent Alcohol-Impaired Fatalities                  250
Alcohol-Impaired Fatalities Per 100 Mill VMT         250
dtype: int64

In [27]:
car_fatality_df.duplicated().count()

250

In [28]:
car_fatality_df.dtypes

Year                                                   int64
State                                                 object
Total Population                                       int64
Total Fatalities                                       int64
Fatalities Per 100,000 Population                    float64
Total Vehicle Miles Traveled (Millions)                int64
Fatalities Per 100 Million Vehicle Miles Traveled    float64
Number Alcohol-Impaired Fatalities                     int64
Percent Alcohol-Impaired Fatalities                    int64
Alcohol-Impaired Fatalities Per 100 Mill VMT         float64
dtype: object

In [29]:
car_fatality_df.to_csv("edaData.csv")

In [ ]:
# Assign each states a numeric value.
car_fatality_df["state_num"] = car_fatality_df["State"].apply(lambda x: state_num[x])

In [ ]:
# Transform the state column into numbers
label_encoder = LabelEncoder()
car_fatality_df["state_le"] = label_encoder.fit_transform(car_fatality_df["state"])
car_fatality_df.head()

In [ ]:
# Load the data

# Drop the null columns where all values are null

# Drop the null rows

In [ ]:
Split the Data into Training and Testing

In [ ]:
# Create our features

# Create our target

In [ ]:
X.describe()

In [ ]:
# Check the balance of our target values

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
Balanced Random Forest Classifier

In [ ]:
# Resample the training data with the BalancedRandomForestClassifier

In [ ]:
# Calculated the balanced accuracy score

In [ ]:
# Display the confusion matrix

In [ ]:
# Print the imbalanced classification report

In [ ]:
# List the features sorted in descending order by feature importance

In [ ]:
Easy Ensemble AdaBoost Classifier

In [ ]:
# Train the EasyEnsembleClassifier

In [ ]:
# Calculated the balanced accuracy score

In [ ]:
# Display the confusion matrix

In [ ]:
# Print the imbalanced classification report